header{
    background-color: aqua;
    height: 80px;
    width: 100%;
    top: 0;
    
}



footer{
    background-color: violet;
    height: 50px;
    width: 100%;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
}